@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000000;
}

.card-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* This can be adjusted based on your needs */
  gap: 90px; /* Adds space between the cards */
}

.card-container {
  perspective: 50em;
  flex: 1; /* Ensures each card takes an equal amount of space */
  position: relative; /* Added to position the border */
  border: 5px solid rgba(255, 241, 241, 0.901); /* Set the border color and thickness */
  border-radius: 10px; /* Optional: rounded corners for the border */
  padding: 5px; /* Optional: padding inside the border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: shadow effect */
}


.card {
  position: relative;
  width: 88%;
  height: 400px;
  padding: 3em;
  color: #fff;
  transform: rotateY(30deg) rotateX(15deg);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  margin-left: 23px;
  
 transition: transform 0.5s;
}

.card:hover {
  transform: rotateY(-10deg) rotateX(0deg);
  background-color: rgba(255, 255, 255, 0.3); /* Adjust hover transparency */
  width: 100%;
  height: 400px;
  margin-left: 0px;
  transition: transform 0.5s;
}

.layers {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  background-image: var(--bi);
  transform: translateZ(var(--tz));
  box-shadow: 0 0 0.5em #000d inset;
}

.layer:nth-child(1) {
  --tz: 0px;
}
.layer:nth-child(2) {
  --tz: -4px;
}
.layer:nth-child(3) {
  --tz: -8px;
}
.layer:nth-child(4) {
  --tz: -12px;
}
.layer:nth-child(5) {
  --tz: -16px;
}
.layer:nth-child(6) {
  --tz: -20px;
}
.layer:nth-child(7) {
  --tz: -24px;
}
.layer:nth-child(8) {
  --tz: -28px;
}
.layer:nth-child(9) {
  --tz: -32px;
}
.layer:nth-child(10) {
  --tz: -36px;
  box-shadow: 0 0 0.5em #000d inset, 0 0 5px #000;
}

/* Button Styles */
.buy-button {
  margin-top: 20px; /* Space between the text and button */
  padding: 10px 20px; /* Button padding */
  font-size: 16px; /* Font size */
  color: #9c1616; /* Text color */
  background-color: #141414; /* Background color */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s; /* Transition for hover effect */
}

.buy-button:hover {
  background-color:rgba(255, 255, 255, 0.2); /* Darker color on hover */
}

.price{
  font-size: 20px;
}

.membership-heading {
  text-align: center;
  color: white;
  margin-bottom: 20px;
  font-size: 2rem;
}

.membership-section {
  padding: 20px;
}
